.main1 {
    background-color: rgb(247, 234, 217);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    height: 360px;

}

.main1 .heading1 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: rgba(84, 38, 38, 0.82);
    padding-top: 10px;
}

.main1 .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 40px;
    padding-left: 65px;

}

.container .items {
    font-size: 20px;
    font-weight: 600;
    color: rgba(84, 38, 38, 0.82);

}

.items img {
    border-radius: 6px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.items img:hover {
    transform: scale(1.1)
}

.main2 {
    background-color: rgb(198, 243, 243);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}

.heading2 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: rgba(71, 34, 4, 0.82);
    padding-top: 10px;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    column-gap: 20px;
}

.items2 {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(84, 38, 38, 0.82);

}

.items2 img {
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.items2 img:hover {
    transform: scale(1.1);
}

.main3 {
    background-color: rgb(207, 240, 158);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin-top: 25px;
}

.heading3 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    color: rgba(71, 34, 4, 0.82);
    padding-top: 10px;

}

.main3 .container3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 30px;
    margin-left: -25px;
    padding-left: 55px;
    width: 1125px;
}

.marquee-list {
    display: flex;
}

.container3 .item3 {
    float: left;
    margin-right: 80px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    color: rgba(84, 38, 38, 0.82);

}

.main3 .container3 .item3 img {
    padding: 2px;
    border-radius: 4px;
    box-shadow: rgba(18, 4, 13, 0.4) 5px 5px, rgba(21, 21, 21, 0.3) 10px 10px;
}

.main3 .container3 .item3 img:hover {
    transform: scale(1.1);
}